<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Powermeter</title>
</head>
<body>
<h1>Welcome!</h1>


<p th:text="${reading.consumptionTotal.value}">0</p>

<p th:text="${reading.consumptionTotal.unit}">WH</p>
<p th:text="${reading.consumptionNow.value}">0</p>


<a href="#" id="startBtn">Start</a>
<a href="#" id="resetBtn">Reset</a>
<a href="#" id="howmuchBtn">How much?</a>
</body>
</html>